html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/*Globales*/
h1,h2,h3{
    font-family: "Playfair Display, serif";
    margin: 0 0 2rem 0;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
/*Utilidades*/
.text-center{
    text-align: center;
}
/*Secciones*/

/*Header y navegacion*/
.header{
    background-image: url(../img/banner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40rem;
}
.header-contain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    padding: 10rem;
}
.relevant-information{
    text-align: center;
}
.column img{
    height: 20rem;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.column h1{
    color: #fff;
}
.column p{
    color: #fff;
}

